*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
address {
  font-style: normal;
}
nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
figure {
  margin: 0;
}
.clearfix:after,
div:after,
header:after,
footer:after,
p:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
.to-left {
  float: left;
}
.to-right {
  float: right;
}
.container {
  position: relative;
  width: 890px;
  max-width: 890px;
  margin: 10px auto 20px;
}
h1, h2, h3, h4, h5, h6 {
  font-weight: lighter;
}
body {
  min-width: 890px;
  font-family: 'Verdana', sans-serif;
  font-size: 14px;
  color: #000;
  background: #f0e4ff;
  overflow-y: scroll;
}
header, main, aside, footer {
  width: 630px;
  margin: 0 auto;
}
.container-inner {
  position: relative;
}
.flower-top,
.flower-bottom {
  position: absolute;
}
.flower-top {
  top: 0;
  right: 0;
  width: 182px;
  height: 230px;
  background: url('../img/flower-top.png') no-repeat center center;
}
.flower-bottom {
  bottom: 0;
  left: 0;
  width: 255px;
  height: 287px;
  background: url('../img/flower-bottom.png') no-repeat center center;
}
.logo, .contacts-top {
  display: inline-block;
  vertical-align: middle;
}
.logo {
  width: 186px;
  height: 73px;
  margin-right: 10px;
}
.contacts-top {
  margin-right: -4px;
}
main {
  position: relative;
  margin-top: 5px;
  z-index: 5;
}
.slider {

  img {
    width: 100%;
    height: auto;
  }
}
.work-slider {

  .slick-prev, .slick-next {
    position: absolute;
    top: 50%;
    width: 28px;
    height: 32px;
    margin-top: -16px;
    text-indent: -9999px;
    border: none;
    outline: none;
  }
  .slick-prev {
    left: 0;
    background: url('../img/slider-right.png') no-repeat center center;
  }
  .slick-prev:hover {
    background: url('../img/slider-right-a.png') no-repeat center center;
  }
  .slick-next {
    right: 0;
    background: url('../img/slider-left.png') no-repeat center center;
  }
  .slick-next:hover {
    background: url('../img/slider-left-a.png') no-repeat center center;
  }
}
.work-slide {
  position: relative;

  figcaption {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 10px 15px;
    background: rgba(0, 0, 0, 0.7);
    color: #fff;
  }
}
.work-price {
  margin: 15px 0 25px;
}
.thumbs-slider {
  padding: 5px 25px;
  background: #554f57;

  img {
    width: 110px;
    height: 80px;
    margin: 1px 2px;
    cursor: pointer;
  }
  img.slick-center {
    outline: 1px solid #fff;
  }
  .slick-prev, .slick-next {
    position: absolute;
    top: 50%;
    width: 18px;
    height: 21px;
    margin-top: -10.5px;
    text-indent: -9999px;
    border: none;
    outline: none;
  }
  .slick-prev {
    left: 8px;
    background: url('../img/slider-left.png') no-repeat center center;
    -webkit-background-size: 100% 100%;
    background-size: 100% 100%;
  }
  .slick-prev:hover {
    background: url('../img/slider-left-a.png') no-repeat center center;
    -webkit-background-size: 100% 100%;
    background-size: 100% 100%;
  }
  .slick-next {
    right: 8px;
    background: url('../img/slider-right.png') no-repeat center center;
    -webkit-background-size: 100% 100%;
    background-size: 100% 100%;
  }
  .slick-next:hover {
    background: url('../img/slider-right-a.png') no-repeat center center;
    -webkit-background-size: 100% 100%;
    background-size: 100% 100%;
  }
}
.main-menu {
  position: relative;
  z-index: 5;

  ul {
    display: table;
    width: 100%;
    text-align: center;

    li {
      display: table-cell;
      border-right: 1px solid #f0e4ff;

      a {
        display: block;
        padding: 10px 0;
        background: #ebc6a6;
        color: #000;
        text-decoration: none;
      }
      a:hover, a.current {
        color: #f67706;
        background: #fbf4ee;
      }
    }
    li:last-child {
      border: none;
    }
  }
}
.menu-top {
  margin-top: 5px;
}
.partners {
  margin-top: 45px;
  text-align: right;

  .block-title {
    margin: 0 0 10px;
  }
  a {
    font-size: 10px;
    color: #000;
    text-decoration: none;
  }
}
footer {
  margin-top: 40px;
}
.contacts-bottom, .copyrights {
  display: inline-block;
  width: 50%;
  vertical-align: bottom;
  margin-right: -4px;
}
.contacts-bottom {
  font-size: 11px;
}
.copyrights {
  text-align: right;
}